.glav{
    display: grid;
    justify-content: center;
    gap: 20px;
    justify-items: center;
    margin-top: 300px;

}

.logindesing{
    display: flex;
    justify-content: space-between;
    gap: 90px;
    margin-bottom: 20px;
    margin-left: 100px;
}

.buttonlog{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.strvhod{
    display: flex;
    justify-content: center;
    margin-right: 20px;
}