.skillcard{
    display: flex;
    padding: 20px 60px 20px 30px;
    border: 2px solid black;
    width: 750px;
    align-items: center;
}

.iconstack{
    width: 150px;
}

.content h3{
    font-size: 40px;
}

.content p{
    font-size: 20px;
}

.content button{
    font-size: 30px;
    padding: 15px 40px;
    background-color: blueviolet;
    margin-top: 20px;
}
